<launch>
  <!-- Arguments -->
  <arg name="model" default="$(env ROVER_MODEL)" doc="model type [turtlebro, brover]"/>
  <arg name="map_file" default="$(find turtlebro_navigation)/maps/map.yaml"/>
  <arg name="open_rviz" default="true"/>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)">
    <param name="delta" value="0.05"/>
  </node>

  <!-- AMCL -->
  <include file="$(find turtlebro_navigation)/launch/amcl.launch"/>

  <!-- move_base -->
  <include file="$(find turtlebro_navigation)/launch/move_base.launch">
    <arg name="model" value="$(arg model)" />
  </include>

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find turtlebro_navigation)/rviz/turtlebro_navigation.rviz"/>
  </group>
</launch>
